{% extends 'base.html' %}
{% load static %}

{% block content %}
  <html>
    <body>
      <article id="51fa1df4-cfb8-464e-b564-f32c0d6a5c26" class="page sans">
        <header>
          <h1 class="page-title">{{ person.name }}</h1><p class="page-description"></p>
        </header>
        <div class="page-body">
          <hr id="db78bdaa-af92-4064-a4ad-ecdaa0b99aaa" />
          <div id="5a8a52dd-3967-4fac-9ce5-debce0e320c3" class="column-list">
            <div id="b420b566-25ae-46d3-90c6-fa4366b2c372" style="width:74.99999999999999%" class="column">
              <p id="8d56ea08-38a6-4c1c-aaa5-fcd06705746b" class="">
                <mark class="highlight-yellow_background">{{ person.name }}</mark> is a {{ person.description }}
                {% if works.len > 0 %}
                  Currenty working at {{ works.0.company_name }} as {{ works.0.title }}.
                {% endif %}
              </p>
              <p id="bfcbc7f9-0d37-42c6-b924-bb76c660c849" class=""></p>
              <p id="1aa5e8d6-6cf6-4636-8d8d-a14228f8d850" class="">
                <strong>Contents</strong><div class="indented">
                  <div id="ab30e631-a3c2-4c12-9e9f-6865467a0766" class="column-list">
                    <div id="71febe83-94bc-4f2e-944b-1d9797b082f0" style="width:30%" class="column">
                      <nav id="a0ff764c-b489-4b9b-8ec3-fbeb5ef8785a" class="block-color-gray_background table_of_contents">
                        <div class="table_of_contents-item table_of_contents-indent-0">
                          <a class="table_of_contents-link" href="#newer_projects">Newer Projects</a>
                        </div>
                        <div class="table_of_contents-item table_of_contents-indent-0">
                          <a class="table_of_contents-link" href="#work_experience">Work Experience</a>
                        </div>
                        <div class="table_of_contents-item table_of_contents-indent-0">
                          <a class="table_of_contents-link" href="#education">Education</a>
                        </div>
                        <div class="table_of_contents-item table_of_contents-indent-0">
                          <a class="table_of_contents-link" href="#projects">Projects</a>
                        </div>
                        <div class="table_of_contents-item table_of_contents-indent-0">
                          <a class="table_of_contents-link" href="#certifications">Certifications</a>
                        </div>
                        <div class="table_of_contents-item table_of_contents-indent-0">
                          <a class="table_of_contents-link" href="#awards">Awards</a>
                        </div>
                      </nav>
                      <p id="c9740f8e-3ac0-42ae-9fe3-2f82110ea35e" class=""></p>
                    </div>
                    <div id="40de1aaf-12fa-4a01-9ed9-99a354f35430" style="width:68.75%" class="column">
                      <p id="672b757f-cb1c-495b-88d5-63f2fa4fa89b" class=""></p>
                    </div>
                  </div>
                </div>
              </p>
              <hr id="c47d9144-fe83-4084-b5f8-ca55752f3913" /><h2 id="newer_projects" class="">Newer Projects</h2><div id="ed77bd4c-253f-478e-8227-cf6371c63466" class="column-list">
                <div id="be50831d-acd0-4cca-af6a-51460bee4ebc" style="width:33.333333333333336%" class="column">
                  <figure id="fabcd8dc-313c-42f6-8f6b-3e0b2fd586a2" class="image">
                    <a href="#"><img style="width:1866px" src="{{ projects.0.image.url }}" /></a><figcaption>{{ projects.0.name }} ({{ projects.0.year }})</figcaption>
                  </figure>
                </div>
              </div><h2 id="work_experience" class="">Work Experience</h2><h3 id="f5796042-4b58-408f-a10c-c8c28a4c5960" class="">FirstWork <i>(start-end)</i></h3><ul id="582748fb-209b-49f6-9926-caaaab003e13" class="bulleted-list">
                <li style="list-style-type:disc">Workdescription</li>
              </ul>
              <hr id="b443a9f8-1f35-48f8-a6ff-b64cb46b7b20" /><h2 id="education" class="">Education</h2><h3 id="849be0b9-ce05-4d43-a31d-6c7671d05cb5" class="">FirstEducation <i>(YearEnd)</i></h3><ul id="33cab94c-2c5e-495f-afa2-5f024fe1129a" class="bulleted-list">
                <li style="list-style-type:disc">education description</li>
              </ul>
              <hr id="ce5232e5-ef85-4683-a177-290cc7fd75b9" /><h2 id="projects" class="">Projects</h2><h3 id="c4e9d224-a449-4aff-8790-ee8a6302ba62" class="">newer project <i>(Year)</i></h3><ul id="eaf7638a-b62f-4a24-a597-b78fcf6a7e48" class="bulleted-list">
                <li style="list-style-type:disc">project description</li>
              </ul>
              <figure id="f841e67a-52ce-443f-8db3-f1b50b4fbee2">
                <a href="https://github.com/Ckk3/ckk-boring-website" class="bookmark source">
                  <div class="bookmark-info">
                    <div class="bookmark-text">
                      <div class="bookmark-title"></div>
                    </div>
                    <div class="bookmark-href">https://github.com/Ckk3/ckk-boring-website</div>
                  </div>
                </a>
              </figure>
              <p id="4a27b12f-0f18-4e71-92ca-5ed0c3262d68" class=""></p>
              <hr id="53e8a727-c6f7-4f4a-8e35-f17b7d78c05c" /><h2 id="certifications" class="">Certifications</h2><ul id="b2c6906d-e249-4f90-a78a-66f513e45249" class="bulleted-list">
                <li style="list-style-type:disc">Certification name, cert Hrs, provider</li>
              </ul>
            </div>
            <div id="d39e7aae-412a-4d20-8aab-54a23730322d" style="width:25%" class="column">
              <p id="1472399d-070d-44ea-9d2b-967e0f8e648f" class="block-color-red_background">
                📄 <strong>Download PDF</strong>
              </p><h3 id="986fc38e-8cd9-4786-8835-df50ffe59eaf" class="block-color-gray_background" style="text-align: center;">{{ person.name }}</h3>
              <figure id="b207e0d4-0fea-4305-9ea2-fff530549c89" class="image">
                <a href="https://images.unsplash.com/photo-1532499016263-f2c3e89de9cd?ixlib=rb-4.0.3&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb"><img src="https://images.unsplash.com/photo-1532499016263-f2c3e89de9cd?ixlib=rb-4.0.3&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb" /></a>
              </figure><h3 id="9d81f29d-0dfa-4160-bcec-103c35b289ff" class="block-color-gray_background"><strong>General Information</strong></h3><div id="3f64ac0c-d5d0-4d01-ba45-abbb90013b3e" class="column-list">
                <div id="da1113a5-d2a1-41c2-9bb3-253459760d4b" style="width:37.5%" class="column">
                  <p id="75794fff-1c4d-4eb6-aa73-4ddca4ee0d45" class="">
                    <strong>Nickname</strong>
                  </p>
                  <p id="4bfb5e34-0593-43e0-a1ca-bc9c3aeb869d" class="">
                    <strong>Status</strong>
                  </p>
                  <p id="cb8c8de1-0999-41ba-9519-857ad5d1d893" class="">
                    <strong>Occupation</strong>
                  </p>
                  <p id="67869e90-57da-479a-913f-0cf04c0ff912" class="">
                    <strong>Stack</strong>
                  </p>
                </div>
                <div id="ec955809-8566-40eb-b07e-70a060221c18" style="width:62.5%" class="column">
                  <p id="dbb0d120-b40d-4522-8189-44c9ecf6f85d" class="">{{ person.nickname }}</p>
                  <p id="7a40cd75-fdcc-4790-bf37-192bec7c10bd" class="">Alive 😀</p>
                  <p id="7c60b4b1-559e-413b-8a60-9c31a3c47ee1" class="">
                  {% if works.len > 0 %}
                    {{ works.0.title }}
                  {% else %}
                    -
                  {% endif %}
                  </p>
                  <p id="dabe8852-1d6b-44c2-9c8d-c1eae691027c" class="">{{ person.stack_text }}</p>
                </div>
              </div><h3 id="1aff2f3c-d0a6-49e9-98a2-3ea6a6d3866a" class="block-color-gray_background"><strong>Characteristics</strong></h3><div id="3bf72e60-85d5-4621-8da9-ea1d08c085a7" class="column-list">
                <div id="58cf95bc-776e-4415-ab90-1c5b2e177c00" style="width:37.5%" class="column">
                  <p id="e2a12494-ca5f-4d7c-bc69-346a31dfa0ff" class="">
                    <strong>Pronoums</strong>
                  </p>
                  <p id="8a103764-716e-45f4-ba52-5125ca4cfa77" class="">
                    <strong>Nationality</strong>
                  </p>
                  <p id="df4a3bd2-1aea-4ba6-9e36-a4cb9c797bda" class="">
                    <strong>Age</strong>
                  </p>
                </div>
                <div id="345898d0-7863-417b-9ef5-371ef1030def" style="width:62.5%" class="column">
                  <p id="f3aeabd6-1818-435d-b713-1e22ead15f26" class="">{{ person.pronoums }}</p>
                  <p id="0e26eb2a-101c-4d82-91f8-440765d2e411" class="">{{ person.nationality }}</p>
                  <p id="6ed8bd75-4780-4a3f-a237-096fce817f6a" class="">{{ person.age }}</p>
                </div>
              </div><h3 id="68c5181e-76ab-4ed4-9bdd-2494fe6f2870" class="block-color-gray_background">Contact Me</h3><div id="defbe308-4256-4124-81e7-2030f9931c90" class="column-list">
                <div id="080d10c2-f995-4635-b6a6-f87c930581ab" style="width:37.5%" class="column">
                  <p id="aed76bb2-1968-4a76-ae12-17a8721d1672" class="">
                    <strong>Name Link</strong>
                  </p>
                </div>
                <div id="ca4aa35c-5b6b-47cc-a7ac-be7366b4413d" style="width:62.5%" class="column">
                  <p id="201cecb4-fa07-431a-9ba5-0b22a3202969" class="">sociallink</p>
                </div>
              </div><h3 id="awards" class="block-color-gray_background">Awards</h3><div id="26d7b0eb-3880-43a8-871a-0e373b9fe7e2" class="column-list">
                <div id="f94c2cf5-d36c-4ad9-bc90-08d3619d45fa" style="width:37.5%" class="column">
                  <p id="6b4a1960-3283-4bb6-8214-697cb2c29131" class="">
                    <i>awardyear</i>
                  </p>
                </div>
                <div id="ec6ce641-7bd9-4c7a-b667-6633a378fe7b" style="width:62.5%" class="column">
                  <p id="fe2f7af2-80d5-42ff-815a-4130f6abffc4" class="">award.title</p>
                </div>
              </div>
              <p id="94e0a179-797a-4c12-8263-f8f6592114ee" class=""></p>
            </div>
          </div>
          <p id="665a9fb7-9d7b-407d-b3e8-12615b1f65e5" class=""></p>
        </div>
      </article>
    </body>
  </html>
{% endblock %}
